<h1>About Me</h1>
<p>I think I pretty much said everything I had to say on my home page. However, if you would like to see more, you can always <%= link_to 'return to the home page', root_path %>.</p>
<p style="color:red">Looking forward to seeing how we can add style sheets and whatnot. Seems a lot more typing-intensive than PHP. I'm looking forward to seeing how this linking process and things save time going forward. I'm guessing that it makes more sense with larger/more adaptive sites?</p>
