<!DOCTYPE html>

<html>

<head>
  <title>Ruby Development Log</title>
</head>

<body>
  <div>
    <h1>Ruby Development Site</h1>
    <p>Hi, I'm Brenton. I spent a lot of time working with HTML and CSS, but it's been several years, and apparently it's not quite like riding a bike.</p>
    <p>Click here to see my <%= link_to 'about me page', pages_about_path %>, if you would like.</p>
  </div>
  <div style="padding:1%;float:left;border-style: solid solid hidden hidden;width:47%">
    <h2 style="text-align:center">Project Goals</h2>
    <ul>
      <li>Learn Ruby on Rails</li>
      <li>Develop job skills</li>
      <li>Consider career transition</li>
      <li>Develop web applications</li>
    </ul>
  </div>
  <div style="padding:1%;float:left;border-style: solid hidden hidden hidden;width:47%">
    <h2 style="text-align:center">Timelines and Steps</h2>
    <ol>
      <li>Complete Ruby development course</li>
      <li>Contribute to open-source projects</li>
      <li>Develop applications</li>
      <li>Apply for development work</li>
    </ol>
  </div>
</body>

<footer>
</footer>

</html>
