$navbar-default-bg: #222222;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: lightgray;
}

#logo { 
  float: left;
  font-size: 1.7em;
  color: white; 
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('april_uprising_cover.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 80px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlg {
  font-size: 1.7em;
  background-color: darkred;
}

.btn-danger:hover {
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float:left;
}

footer ul {
  float:right;
  list-style: none;
  border-left: 1px solid #eaeaea;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-description-title {
  margin-top: 0;
  margin-bottom: 0;
}